.container {
    border: 1px solid #000;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0 !important;
    float: left;

    h1 {
        display: block;
        margin-bottom: 30px !important;
    }

    .containerFiltros {
        border: 1px solid #000;
        width: 20%;
        height: auto;
        display: inline-block;
        float: left;
        background-color: #EFEFF0;
        padding: 40px;
        text-align: left;

        h2 {
            font-size: 26px !important;
            font-weight: bold;
            margin-bottom: 20px !important;
            display: block !important;
        }

        h3 {
            text-align: left;
            display: block !important;
            color: gray;
            font-family: 'Open Sans';
            font-size: 20px !important;
            margin-bottom: 10px !important;
        }

        .range {
            text-align: left;
            display: block !important;
            padding: 10px 0;
            margin-top: 10px;

            .formRange {
                align-items: center;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: none;
                cursor: pointer;
                display: inline-flex;
                height: 100%;
                min-height: 30px;
                overflow: hidden;
                width: 48%;

                &:focus {
                    box-shadow:none !important;
                    outline:none !important;
                }

                &::-webkit-slider-thumb {
                    width: 18px;
                    height: 18px;
                    -webkit-appearance: none;
                    appearance: none;
                    background: #3580e9;
                    border-radius: 50%;
                    box-shadow: 5px 0 0 -8px #cacace,6px 0 0 -8px #cacace,7px 0 0 -8px #cacace,8px 0 0 -8px #cacace,9px 0 0 -8px #cacace,10px 0 0 -8px #cacace,11px 0 0 -8px #cacace,12px 0 0 -8px #cacace,13px 0 0 -8px #cacace,14px 0 0 -8px #cacace,15px 0 0 -8px #cacace,16px 0 0 -8px #cacace,17px 0 0 -8px #cacace,18px 0 0 -8px #cacace,19px 0 0 -8px #cacace,20px 0 0 -8px #cacace,21px 0 0 -8px #cacace,22px 0 0 -8px #cacace,23px 0 0 -8px #cacace,24px 0 0 -8px #cacace,25px 0 0 -8px #cacace,26px 0 0 -8px #cacace,27px 0 0 -8px #cacace,28px 0 0 -8px #cacace,29px 0 0 -8px #cacace,30px 0 0 -8px #cacace,31px 0 0 -8px #cacace,32px 0 0 -8px #cacace,33px 0 0 -8px #cacace,34px 0 0 -8px #cacace,35px 0 0 -8px #cacace,36px 0 0 -8px #cacace,37px 0 0 -8px #cacace,38px 0 0 -8px #cacace,39px 0 0 -8px #cacace,40px 0 0 -8px #cacace,41px 0 0 -8px #cacace,42px 0 0 -8px #cacace,43px 0 0 -8px #cacace,44px 0 0 -8px #cacace,45px 0 0 -8px #cacace,46px 0 0 -8px #cacace,47px 0 0 -8px #cacace,48px 0 0 -8px #cacace,49px 0 0 -8px #cacace,50px 0 0 -8px #cacace,51px 0 0 -8px #cacace,52px 0 0 -8px #cacace,53px 0 0 -8px #cacace,54px 0 0 -8px #cacace,55px 0 0 -8px #cacace,56px 0 0 -8px #cacace,57px 0 0 -8px #cacace,58px 0 0 -8px #cacace,59px 0 0 -8px #cacace,60px 0 0 -8px #cacace,61px 0 0 -8px #cacace,62px 0 0 -8px #cacace,63px 0 0 -8px #cacace,64px 0 0 -8px #cacace,65px 0 0 -8px #cacace,66px 0 0 -8px #cacace,67px 0 0 -8px #cacace,68px 0 0 -8px #cacace,69px 0 0 -8px #cacace,70px 0 0 -8px #cacace,71px 0 0 -8px #cacace,72px 0 0 -8px #cacace,73px 0 0 -8px #cacace,74px 0 0 -8px #cacace,75px 0 0 -8px #cacace,76px 0 0 -8px #cacace,77px 0 0 -8px #cacace,78px 0 0 -8px #cacace,79px 0 0 -8px #cacace,80px 0 0 -8px #cacace,81px 0 0 -8px #cacace,82px 0 0 -8px #cacace,83px 0 0 -8px #cacace,84px 0 0 -8px #cacace,85px 0 0 -8px #cacace,86px 0 0 -8px #cacace,87px 0 0 -8px #cacace,88px 0 0 -8px #cacace,89px 0 0 -8px #cacace,90px 0 0 -8px #cacace,91px 0 0 -8px #cacace,92px 0 0 -8px #cacace,93px 0 0 -8px #cacace,94px 0 0 -8px #cacace,95px 0 0 -8px #cacace,96px 0 0 -8px #cacace,97px 0 0 -8px #cacace,98px 0 0 -8px #cacace,99px 0 0 -8px #cacace,100px 0 0 -8px #cacace,101px 0 0 -8px #cacace,102px 0 0 -8px #cacace,103px 0 0 -8px #cacace,104px 0 0 -8px #cacace,105px 0 0 -8px #cacace,106px 0 0 -8px #cacace,107px 0 0 -8px #cacace,108px 0 0 -8px #cacace,109px 0 0 -8px #cacace,110px 0 0 -8px #cacace,111px 0 0 -8px #cacace,112px 0 0 -8px #cacace,113px 0 0 -8px #cacace,114px 0 0 -8px #cacace,115px 0 0 -8px #cacace,116px 0 0 -8px #cacace,117px 0 0 -8px #cacace,118px 0 0 -8px #cacace,119px 0 0 -8px #cacace,120px 0 0 -8px #cacace,121px 0 0 -8px #cacace,122px 0 0 -8px #cacace,123px 0 0 -8px #cacace,124px 0 0 -8px #cacace,125px 0 0 -8px #cacace,126px 0 0 -8px #cacace,127px 0 0 -8px #cacace,128px 0 0 -8px #cacace,129px 0 0 -8px #cacace,130px 0 0 -8px #cacace,131px 0 0 -8px #cacace,132px 0 0 -8px #cacace,133px 0 0 -8px #cacace,134px 0 0 -8px #cacace,135px 0 0 -8px #cacace,136px 0 0 -8px #cacace,137px 0 0 -8px #cacace,138px 0 0 -8px #cacace,139px 0 0 -8px #cacace,140px 0 0 -8px #cacace,141px 0 0 -8px #cacace,142px 0 0 -8px #cacace,143px 0 0 -8px #cacace,144px 0 0 -8px #cacace,145px 0 0 -8px #cacace,146px 0 0 -8px #cacace,147px 0 0 -8px #cacace,148px 0 0 -8px #cacace,149px 0 0 -8px #cacace,150px 0 0 -8px #cacace,151px 0 0 -8px #cacace,152px 0 0 -8px #cacace,153px 0 0 -8px #cacace,154px 0 0 -8px #cacace,155px 0 0 -8px #cacace,156px 0 0 -8px #cacace,157px 0 0 -8px #cacace,158px 0 0 -8px #cacace,159px 0 0 -8px #cacace,160px 0 0 -8px #cacace,161px 0 0 -8px #cacace,162px 0 0 -8px #cacace,163px 0 0 -8px #cacace,164px 0 0 -8px #cacace,165px 0 0 -8px #cacace,166px 0 0 -8px #cacace,167px 0 0 -8px #cacace,168px 0 0 -8px #cacace,169px 0 0 -8px #cacace,170px 0 0 -8px #cacace,171px 0 0 -8px #cacace,172px 0 0 -8px #cacace,173px 0 0 -8px #cacace,174px 0 0 -8px #cacace,175px 0 0 -8px #cacace,176px 0 0 -8px #cacace,177px 0 0 -8px #cacace,178px 0 0 -8px #cacace,179px 0 0 -8px #cacace,180px 0 0 -8px #cacace,181px 0 0 -8px #cacace,182px 0 0 -8px #cacace,183px 0 0 -8px #cacace,184px 0 0 -8px #cacace,185px 0 0 -8px #cacace,186px 0 0 -8px #cacace,187px 0 0 -8px #cacace,188px 0 0 -8px #cacace,189px 0 0 -8px #cacace,190px 0 0 -8px #cacace,191px 0 0 -8px #cacace,192px 0 0 -8px #cacace,193px 0 0 -8px #cacace,194px 0 0 -8px #cacace,195px 0 0 -8px #cacace,196px 0 0 -8px #cacace,197px 0 0 -8px #cacace,198px 0 0 -8px #cacace,199px 0 0 -8px #cacace,200px 0 0 -8px #cacace,201px 0 0 -8px #cacace,202px 0 0 -8px #cacace,203px 0 0 -8px #cacace,204px 0 0 -8px #cacace,205px 0 0 -8px #cacace,206px 0 0 -8px #cacace,207px 0 0 -8px #cacace,208px 0 0 -8px #cacace,209px 0 0 -8px #cacace,210px 0 0 -8px #cacace,211px 0 0 -8px #cacace,212px 0 0 -8px #cacace,213px 0 0 -8px #cacace,214px 0 0 -8px #cacace,215px 0 0 -8px #cacace,216px 0 0 -8px #cacace,217px 0 0 -8px #cacace,218px 0 0 -8px #cacace,219px 0 0 -8px #cacace,220px 0 0 -8px #cacace,221px 0 0 -8px #cacace,222px 0 0 -8px #cacace,223px 0 0 -8px #cacace,224px 0 0 -8px #cacace,225px 0 0 -8px #cacace,226px 0 0 -8px #cacace,227px 0 0 -8px #cacace,228px 0 0 -8px #cacace,229px 0 0 -8px #cacace,230px 0 0 -8px #cacace,231px 0 0 -8px #cacace,232px 0 0 -8px #cacace,233px 0 0 -8px #cacace,234px 0 0 -8px #cacace,235px 0 0 -8px #cacace,236px 0 0 -8px #cacace,237px 0 0 -8px #cacace,238px 0 0 -8px #cacace,239px 0 0 -8px #cacace,240px 0 0 -8px #cacace,241px 0 0 -8px #cacace,242px 0 0 -8px #cacace,243px 0 0 -8px #cacace,244px 0 0 -8px #cacace,245px 0 0 -8px #cacace,246px 0 0 -8px #cacace,247px 0 0 -8px #cacace,248px 0 0 -8px #cacace,249px 0 0 -8px #cacace,250px 0 0 -8px #cacace,251px 0 0 -8px #cacace,252px 0 0 -8px #cacace,253px 0 0 -8px #cacace,254px 0 0 -8px #cacace,255px 0 0 -8px #cacace,256px 0 0 -8px #cacace,257px 0 0 -8px #cacace,258px 0 0 -8px #cacace,259px 0 0 -8px #cacace,260px 0 0 -8px #cacace,261px 0 0 -8px #cacace,262px 0 0 -8px #cacace,263px 0 0 -8px #cacace,264px 0 0 -8px #cacace,265px 0 0 -8px #cacace,266px 0 0 -8px #cacace,267px 0 0 -8px #cacace,268px 0 0 -8px #cacace,269px 0 0 -8px #cacace,270px 0 0 -8px #cacace,271px 0 0 -8px #cacace,272px 0 0 -8px #cacace,273px 0 0 -8px #cacace,274px 0 0 -8px #cacace,275px 0 0 -8px #cacace,276px 0 0 -8px #cacace,277px 0 0 -8px #cacace,278px 0 0 -8px #cacace,279px 0 0 -8px #cacace,280px 0 0 -8px #cacace,281px 0 0 -8px #cacace,282px 0 0 -8px #cacace,283px 0 0 -8px #cacace,284px 0 0 -8px #cacace,285px 0 0 -8px #cacace,286px 0 0 -8px #cacace,287px 0 0 -8px #cacace,288px 0 0 -8px #cacace,289px 0 0 -8px #cacace,290px 0 0 -8px #cacace,291px 0 0 -8px #cacace,292px 0 0 -8px #cacace,293px 0 0 -8px #cacace,294px 0 0 -8px #cacace,295px 0 0 -8px #cacace,296px 0 0 -8px #cacace,297px 0 0 -8px #cacace,298px 0 0 -8px #cacace,299px 0 0 -8px #cacace,300px 0 0 -8px #cacace,301px 0 0 -8px #cacace,302px 0 0 -8px #cacace,303px 0 0 -8px #cacace,304px 0 0 -8px #cacace,305px 0 0 -8px #cacace,306px 0 0 -8px #cacace,307px 0 0 -8px #cacace,308px 0 0 -8px #cacace,309px 0 0 -8px #cacace,310px 0 0 -8px #cacace,311px 0 0 -8px #cacace,312px 0 0 -8px #cacace,313px 0 0 -8px #cacace,314px 0 0 -8px #cacace,315px 0 0 -8px #cacace,316px 0 0 -8px #cacace,317px 0 0 -8px #cacace,318px 0 0 -8px #cacace,319px 0 0 -8px #cacace,320px 0 0 -8px #cacace,321px 0 0 -8px #cacace,322px 0 0 -8px #cacace,323px 0 0 -8px #cacace,324px 0 0 -8px #cacace,325px 0 0 -8px #cacace,326px 0 0 -8px #cacace,327px 0 0 -8px #cacace,328px 0 0 -8px #cacace,329px 0 0 -8px #cacace,330px 0 0 -8px #cacace,331px 0 0 -8px #cacace,332px 0 0 -8px #cacace,333px 0 0 -8px #cacace,334px 0 0 -8px #cacace,335px 0 0 -8px #cacace,336px 0 0 -8px #cacace,337px 0 0 -8px #cacace,338px 0 0 -8px #cacace,339px 0 0 -8px #cacace,340px 0 0 -8px #cacace,341px 0 0 -8px #cacace,342px 0 0 -8px #cacace,343px 0 0 -8px #cacace,344px 0 0 -8px #cacace,345px 0 0 -8px #cacace,346px 0 0 -8px #cacace,347px 0 0 -8px #cacace,348px 0 0 -8px #cacace,349px 0 0 -8px #cacace,350px 0 0 -8px #cacace,351px 0 0 -8px #cacace,352px 0 0 -8px #cacace,353px 0 0 -8px #cacace,354px 0 0 -8px #cacace,355px 0 0 -8px #cacace,356px 0 0 -8px #cacace,357px 0 0 -8px #cacace,358px 0 0 -8px #cacace,359px 0 0 -8px #cacace,360px 0 0 -8px #cacace,361px 0 0 -8px #cacace,362px 0 0 -8px #cacace,363px 0 0 -8px #cacace,364px 0 0 -8px #cacace,365px 0 0 -8px #cacace,366px 0 0 -8px #cacace,367px 0 0 -8px #cacace,368px 0 0 -8px #cacace,369px 0 0 -8px #cacace,370px 0 0 -8px #cacace,371px 0 0 -8px #cacace,372px 0 0 -8px #cacace,373px 0 0 -8px #cacace,374px 0 0 -8px #cacace,375px 0 0 -8px #cacace,376px 0 0 -8px #cacace,377px 0 0 -8px #cacace,378px 0 0 -8px #cacace,379px 0 0 -8px #cacace,380px 0 0 -8px #cacace,381px 0 0 -8px #cacace,382px 0 0 -8px #cacace,383px 0 0 -8px #cacace,384px 0 0 -8px #cacace,385px 0 0 -8px #cacace,386px 0 0 -8px #cacace,387px 0 0 -8px #cacace,388px 0 0 -8px #cacace,389px 0 0 -8px #cacace,390px 0 0 -8px #cacace,391px 0 0 -8px #cacace,392px 0 0 -8px #cacace,393px 0 0 -8px #cacace,394px 0 0 -8px #cacace,395px 0 0 -8px #cacace,396px 0 0 -8px #cacace,397px 0 0 -8px #cacace,398px 0 0 -8px #cacace,399px 0 0 -8px #cacace,400px 0 0 -8px #cacace,401px 0 0 -8px #cacace,402px 0 0 -8px #cacace,403px 0 0 -8px #cacace,404px 0 0 -8px #cacace,405px 0 0 -8px #cacace,406px 0 0 -8px #cacace,407px 0 0 -8px #cacace,408px 0 0 -8px #cacace,409px 0 0 -8px #cacace,410px 0 0 -8px #cacace,411px 0 0 -8px #cacace,412px 0 0 -8px #cacace,413px 0 0 -8px #cacace,414px 0 0 -8px #cacace,415px 0 0 -8px #cacace,416px 0 0 -8px #cacace,417px 0 0 -8px #cacace,418px 0 0 -8px #cacace,419px 0 0 -8px #cacace,420px 0 0 -8px #cacace,421px 0 0 -8px #cacace,422px 0 0 -8px #cacace,423px 0 0 -8px #cacace,424px 0 0 -8px #cacace,425px 0 0 -8px #cacace,426px 0 0 -8px #cacace,427px 0 0 -8px #cacace,428px 0 0 -8px #cacace,429px 0 0 -8px #cacace,430px 0 0 -8px #cacace,431px 0 0 -8px #cacace,432px 0 0 -8px #cacace,433px 0 0 -8px #cacace,434px 0 0 -8px #cacace,435px 0 0 -8px #cacace,436px 0 0 -8px #cacace,437px 0 0 -8px #cacace,438px 0 0 -8px #cacace,439px 0 0 -8px #cacace,440px 0 0 -8px #cacace,441px 0 0 -8px #cacace,442px 0 0 -8px #cacace,443px 0 0 -8px #cacace,444px 0 0 -8px #cacace,445px 0 0 -8px #cacace,446px 0 0 -8px #cacace,447px 0 0 -8px #cacace,448px 0 0 -8px #cacace,449px 0 0 -8px #cacace,450px 0 0 -8px #cacace,451px 0 0 -8px #cacace,452px 0 0 -8px #cacace,453px 0 0 -8px #cacace,454px 0 0 -8px #cacace,455px 0 0 -8px #cacace,456px 0 0 -8px #cacace,457px 0 0 -8px #cacace,458px 0 0 -8px #cacace,459px 0 0 -8px #cacace,460px 0 0 -8px #cacace,461px 0 0 -8px #cacace,462px 0 0 -8px #cacace,463px 0 0 -8px #cacace,464px 0 0 -8px #cacace,465px 0 0 -8px #cacace,466px 0 0 -8px #cacace,467px 0 0 -8px #cacace,468px 0 0 -8px #cacace,469px 0 0 -8px #cacace,470px 0 0 -8px #cacace,471px 0 0 -8px #cacace,472px 0 0 -8px #cacace,473px 0 0 -8px #cacace,474px 0 0 -8px #cacace,475px 0 0 -8px #cacace,476px 0 0 -8px #cacace,477px 0 0 -8px #cacace,478px 0 0 -8px #cacace,479px 0 0 -8px #cacace,480px 0 0 -8px #cacace,481px 0 0 -8px #cacace,482px 0 0 -8px #cacace,483px 0 0 -8px #cacace,484px 0 0 -8px #cacace,485px 0 0 -8px #cacace,486px 0 0 -8px #cacace,487px 0 0 -8px #cacace,488px 0 0 -8px #cacace,489px 0 0 -8px #cacace,490px 0 0 -8px #cacace,491px 0 0 -8px #cacace,492px 0 0 -8px #cacace,493px 0 0 -8px #cacace,494px 0 0 -8px #cacace,495px 0 0 -8px #cacace,496px 0 0 -8px #cacace,497px 0 0 -8px #cacace,498px 0 0 -8px #cacace,499px 0 0 -8px #cacace,500px 0 0 -8px #cacace;margin-top:-8px;border:0 solid #777
                }

                &::-webkit-slider-runnable-track {
                    background: #3580e9;
                    content: "";
                    height: 2px;
                    pointer-events: none;
                }

                &::-moz-range-track {
                    width:100%;
                    height:2px;
                    background:#cacace;
                }

                &::-moz-range-thumb {
                    width: 18px;
                    height: 18px;
                    background: #3580e9;
                    border-radius: 50%;
                    border: 0 solid #777;
                    position: relative;
                }

                &::-moz-range-progress {
                    height: 2px;
                    background: #3580e9;
                    border: 0;
                    margin-top: 0;
                }

                &::-ms-track {
                    background: transparent;
                    border: 0;
                    border-color: transparent;
                    border-radius: 0;
                    border-width: 0;
                    color: transparent;
                    height: 2px;
                    margin-top: 10px;
                    width: 100%;
                }

                &::-ms-thumb {
                    width: 18px;
                    height: 18px;
                    background: #3580e9;
                    border-radius: 50%;
                    border: 0 solid #777;
                }

                &::-ms-fill-lower {
                    background: #3580e9;
                    border-radius: 0;
                }

                &::-ms-fill-upper {
                    background: #cacace;
                    border-radius: 0;
                }

                &::-ms-tooltip {
                    display: none;
                }
            }

            input[type=number] {
                width: 48%;
                display: inline-block;
                font-family: 'Open Sans';
            }

            span {
                font-size: 14px;
                margin-top: 6px;
                display: inline-block;
                color: gray;
            }
        }

        .check {
            text-align: left;
            display: block !important;
            padding: 10px 0;
            margin-top: 10px;

            .checkbox {
                margin-top: 2px;
                // border: 1px solid #000;

                input[type=checkbox], input[type=radio] {
                    display: block !important;
                    margin-left: 0 !important;
                    cursor: pointer;
                    font-size: 20px;
                    line-height: 20px !important;
                    margin-top: 1px;
                    border-width: 2px;
                    border-color: #cacace;

                    &:checked {
                        border-color: #0D6EFD;
                    }
    
                    &:hover {
                        border-color: #0D6EFD;
                        transition: 0.3s;
                    }
    
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
    
                label {
                    padding-left: 6px;
                    color: #494950;
                    font-weight: normal;
                    font-family: 'Open Sans';
                    cursor: pointer;
                    line-height: 20px !important;
                }
            }
        }
    }

    .containerItens {
        border: 1px solid #000;
        width: 80%;
        height: auto;
        display: inline-block;
        float: left;
        background-color: #FAFAFA;
        padding: 40px;

        input[type=checkbox] {
            display: block !important;
            cursor: pointer;
            font-size: 25px;
            border-width: 2px;
            margin-top: 10px;
            border-color: #cacace;

            &:checked {
                border-color: #0D6EFD;
            }

            &:hover {
                border-color: #0D6EFD;
                transition: 0.3s;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        table {
            font-size: 13px;
            margin-top: 20px;
            text-align: left;
    
            tbody {
                tr {
                    td {
                        text-align: left;
                        padding-left: 0;
                        vertical-align: middle;

                        a {
                            font-weight: bold;
                            color: #62626a;
                            font-size: 15px;
                            font-family: 'Open Sans' monospace !important;
                            padding-left: 0;

                            &:hover {
                                color: #3580e9;
                                text-decoration: underline !important;
                            }
                        }

                        img {
                            width: 50px !important;
                            border: 2px solid #cacace;
                            border-radius: 4px;
                            padding: 5px;
                            margin-right: 20px;
                            cursor: pointer;
                            background-color: #fff;
                        }

                        span {
                            font-family: 'Open Sans' !important;
                            font-size: 15px;
                            margin: 0 !important;
                            text-align: left;
                        }
                    }
                }
            }

            thead {
                tr {
                    border-bottom-width: 2px;

                    th {
                        border-bottom-width: 2px;
                        padding: 0 !important;
                        margin: 0 !important;
                        cursor: pointer;

                        &:hover {
                            border-color: #62626a;
                        }
                    }

                    .colSmall {
                        width: 50px !important;
                    }
                }
            }
        }
    }
}