.titulo {
    display: block;
    // color: #000;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 2px !important;
    text-transform: none;
}

.containerFluid {
    border: 1px solid #000;
    text-align: left;
    padding: 40px 160px !important;
    // padding: 0 !important;
    float: left;

    .containerPeca {
        // border: 1px solid #000;
        float: left;
        position: relative;
        width: 1540px;
        margin: 0 !important;
        left: 50%;
        transform: translateX(-50%);

        p {
            font-family: 'Open Sans' !important;
            word-spacing: 6px;
            font-size: 14px;
            color: gray;
    
            a, span {
                font-family: 'Open Sans' !important;
                word-spacing: 0;
            }
        }
    
        h1 {
            display: block;
            font-family: 'Open Sans';
            font-weight: bold;
            text-transform: none;
            margin-bottom: 40px !important;
            font-size: 32px !important;
        }
    
        .fotos {
            // border: 1px solid #000;
            float: left;
            width: 540px;
            height: 540px;
            padding: 20px;
            box-sizing: border-box;
            background-color: #fff;
            vertical-align: middle;
            display: inline-block;
    
            img {
                max-width: 100%;
                max-height: 100%;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // border: 1px solid #000;
            }
        }
    
        h2 {
            display: block;
            font-family: 'Open Sans';
            font-weight: bold;
            text-transform: none;
            font-size: 32px !important;
            margin-bottom: 20px !important;
        }
    
        .precos {
            // border: 1px solid #000;
            display: inline-block;
            float: right;
            width: 63%;
            // clear: both;
        }
    
        .specs {
            // border: 1px solid #000;
            display: inline-block;
            float: left;
            width: 63%;
            clear: both;
            margin-top: 20px;
    
            table {
                width: 100%;
    
                tbody {
                    tr {
                        th {
                            font-family: 'Open Sans' !important;
                            font-size: 14px;
                            vertical-align: middle;
                        }
    
                        td {
                            font-size: 14px;
                            font-family: 'Open Sans' !important;
                            vertical-align: middle;
    
                            span {
                                font-family: 'Open Sans' !important;
                                display: block;
                            }
    
                            .sim {
                                color: green;
                            }
                            .nao {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}